.image{
    height:100vh; 
    background-size:cover; 
    width:100vw;
    background-image:url('../../assets/5.jpg');
    background-position: center; 
    color: white; 
}

.button{
    position: relative;
    width: 100%;

}

.mat-row:nth-child(even){
    background-color: red;
}
        
.mat-row:nth-child(odd){
    background-color: black;
}