<div class="especies"></div>
<button class="btn btn-primary boton" type="button" (click)="goTo('')">Volver al menú principal</button>
<div class="dalek" (click)="goTo('individuo/DALEK')"></div>
<div class="sontaran" (click)="goTo('individuo/SONTARAN')"></div>
<div class="senordeltiempo" (click)="goTo('individuo/SENORDELTIEMPO')"></div>
<div class="humano" (click)="goTo('individuo/HUMANO')"></div>
<div class="angel" (click)="goTo('individuo/ANGEL')"></div>
<div class="cyberman" (click)="goTo('individuo/CYBERMAN')"></div>
