<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card bg-dark my-5">
        <div class="card-body">
          <h2 class="card-title text-center text-white py-3">{{ title }}</h2>
          <ul class="text-center list-inline py-3">
            <li class="list-inline-item">
              <a routerLink="/planeta" class="btn btn-info">Menu de planetas</a>
                </li>
            <li class="list-inline-item">
              <a routerLink="/tecnologia" class="btn btn-info">Menu tecnologias</a>
                </li>
            <li class="list-inline-item">
              <a routerLink="/individuo" class="btn btn-info">Menu individuos</a>
                </li>
            <li class="list-inline-item">
              <a routerLink="/" class="btn btn-info">Menu principal</a>
                </li>
          </ul>
        </div>
      </div>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>